---
import { render, type CollectionEntry } from 'astro:content'

import { MediumZoom } from 'astro-pure/advanced'
import { TOC } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { CardList } from 'astro-pure/user'
import PageLayout from '@/layouts/ContentLayout.astro'
import { docs } from '@/pages/docs/docsContents'

import DocsContent from './DocsContent.astro'

export const prerender = true

export async function getStaticPaths() {
  const posts = sortMDByDate(await getBlogCollection('docs'))
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post }
  }))
}

type Props = {
  post: CollectionEntry<'docs'>
}

const { post } = Astro.props
const { Content, headings } = await render(post)
const { description, title } = post.data
---

<PageLayout meta={{ description, title }} back='/docs'>
  <Fragment slot='sidebar'>
    {!!headings.length && <TOC {headings} />}
    <DocsContent class='docs-toc block mt-3' />
  </Fragment>

  <Fragment slot='header'>
    <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>
      {title}
    </h1>
    <div class='mt-4 flex flex-wrap gap-x-4 gap-y-2 text-xs leading-6 text-muted-foreground'>
      {
        // Description
        description && (
          <blockquote class='text-sm italic text-muted-foreground'>
            <q>{description}</q>
          </blockquote>
        )
      }
    </div>
    <CardList {...docs} collapse class='md:hidden' />
  </Fragment>

  <Content />

  <CardList {...docs} title='See more docs' class='mt-5' slot='bottom' />
</PageLayout>
<MediumZoom />

<style>
  @media (min-width: 1300px) {
    :global(
      main, .bottom { transform: translateX(7.9rem); }
      #sidebar { overflow: inherit; }
      toc-heading { height: 100%; display: flex; flex-direction: column; }
      toc-heading > ul { overflow-y: scroll; }
    )
    .docs-toc {
      position: fixed;
      top: 0;
      left: -64rem;
      margin-top: 0;
      max-height: calc(100vh - 7rem);
      overflow-y: scroll;
      padding-right: 1rem !important;
    }
  }
</style>
