---
import { type CollectionEntry } from 'astro:content'

import { getBlogCollection } from 'astro-pure/server'
import { cn } from 'astro-pure/utils'

export const prerender = true
export const partial = true

const docsCollection = (await getBlogCollection('docs')) as CollectionEntry<'docs'>[]
// group docs by id first part (setup, integrations, advanced, etc.)
const docsByCate = docsCollection.reduce((acc: { [key: string]: typeof docsCollection }, doc) => {
  const id = doc.id.split('/')[0]
  if (!acc[id]) acc[id] = [] as typeof docsCollection
  acc[id].push(doc)
  return acc
}, {})

const docCategories = {
  setup: 'Setup',
  integrations: 'Integrations',
  advanced: 'Advanced'
}

type Props = {
  title?: boolean
  class?: string
}

const { title = true, class: className, ...props } = Astro.props
---

<docs-toc class={cn('not-prose', className)} {...props}>
  {title && <h2 class='text-foreground font-semibold'>DOCS</h2>}
  <ul class='mt-4 flex flex-col gap-y-5'>
    {
      Object.entries(docCategories).map(([id, title]: [string, string]) => (
        <li>
          <h3 class='text-muted-foreground text-xs tracking-widest uppercase'>{title}</h3>
          <ul class='mt-2 flex flex-col gap-y-1 border-l-3 ml-1 pl-3'>
            {docsByCate[id].map((doc) => (
              <li class='text-foreground'>
                <a href={`/docs/${doc.id}`}>{doc.data.title}</a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</docs-toc>
