---
import { Image } from 'astro:assets'
import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='theme'>Theme</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸ­ Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸ¤– Arknights Telegram Bot',
        description: 'Telegram Bot for Arknights',
        links: [
          { type: 'github', href: 'https://github.com/IJNKAWAKAZE/arknights_bot' },
          { type: 'site', href: 'https://t.me/PtiIopsis_bot' },
          {
            type: 'doc',
            href: 'https://github.com/IJNKAWAKAZE/arknights_bot/blob/main/docs/Development.md'
          }
        ]
      },
      {
        name: 'ðŸ’„ PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    project={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
